---
layout: default.liquid
---

<div class="home-cover">
  <div class="title">
    <h3>Blaise Agüera y Arcas</h3>
    <h1>What <br>Is Life?</h1>
  </div>
  {% include "partials/cover" %}
</div>
<article>
  <section class="content">
    {{ content }}
    <div class="indicators">
      <div class="fixed-indicator"></div>
      <div class="figure-indicators"></div>
    </div>
  </section>
  <div id="footnote-popup" class="footnote-text"></div>
</article>
{% include "partials/nextpage" %}
