:root{
/* global colors */
	--color-default: rgb(10 11 9);
  --brown-light: #baaea2;  
  --accent: #9d8e80;

  --darkgrey: rgb(38 38 38);
  --mediumgrey: rgb(190 190 190);
	--grey: rgb(150 150 150);
	--lightgrey: rgb(240 240 240);
  --white: rgb(255 255 255);
	--bluegrey: rgb(208, 219,227);

	--alpha: 40%;
	--bin1: rgb(220 220 220);
	--bin2: rgb(250 250 250);
	--bin3: rgb(255 255 170);

  --bintip: rgb(160 160 60);
  --binline: rgb(222 222 170);
	--gridline: rgb(202 198 197);

  
  --indigo: 51 34 136;
  --cyan: 0 174 239;
  --teal: 70 173 154;
  --olive: 152 152 54;
  --orange: 237 118 52;
  --magenta: 238 51 119;
  --violet: 170 68 153;
  --green: 24 119 60;
  --yellow: 255 203 5;
  --black: 0 0 0;
  --brown: 117 69 27;
  --red: 205 53 40;
  --gold: 207 191 112;
  --blue: 1 120 187;
  --mauve: 136 33 86;
  --other: 200 200 200;
}


[data-color="indigo"] {
  .area, .dot{
    fill: rgb( 51 34 136 / var(--alpha));
  }
  .series-label, .svg-label{
    fill: rgb( 51 34 136 );  
  }
  .line{
     stroke: rgb( 51 34 136 );
  }
  .tip-label, .key-label, &.plot-tips{
    color: rgb( 51 34 136 );
  }
  .key-color{
     background: rgb( 51 34 136 );
  }
}

[data-color="cyan"] {
  .area, .dot{
    fill: rgb( 0 174 239 / var(--alpha));
  }
  .series-label, .svg-label{
    fill: rgb( 0 174 239 );  
  }
  .line{
     stroke: rgb( 0 174 239 );
  }
  .tip-label, .key-label, &.plot-tips{
    color: rgb( 0 174 239 );
  }
  .key-color{
     background: rgb( 0 174 239 );
  }
}

[data-color="teal"] {
  .area, .dot{
    fill: rgb( 70 173 154 / var(--alpha));
  }
  .series-label, .svg-label{
    fill: rgb( 70 173 154 );  
  }
  .line{
     stroke: rgb( 70 173 154 );
  }
  .tip-label, .key-label, &.plot-tips{
    color: rgb( 70 173 154 );
  }
  .key-color{
     background: rgb( 70 173 154 );
  }
}

[data-color="olive"] {
  .area, .dot{
    fill: rgb( 152 152 54 / var(--alpha));
  }
  .series-label, .svg-label{
    fill: rgb( 152 152 54 );  
  }
  .line{
     stroke: rgb( 152 152 54 );
  }
  .tip-label, .key-label, &.plot-tips{
    color: rgb( 152 152 54 );
  }
  .key-color{
     background: rgb( 152 152 54 );
  }
}

[data-color="orange"] {
  .area, .dot{
    fill: rgb( 237 118 52 / var(--alpha));
  }
  .series-label, .svg-label{
    fill: rgb( 237 118 52 );  
  }
  .line{
     stroke: rgb( 237 118 52 );
  }
  .tip-label, .key-label, &.plot-tips{
    color: rgb( 237 118 52 );
  }
  .key-color{
     background: rgb( 237 118 52 );
  }
}

[data-color="magenta"] {
  .area, .dot{
    fill: rgb( 238 51 119 / var(--alpha));
  }
  .series-label, .svg-label{
    fill: rgb( 238 51 119 );  
  }
  .line{
     stroke: rgb( 238 51 119 );
  }
  .tip-label, .key-label, &.plot-tips{
    color: rgb( 238 51 119 );
  }
  .key-color{
     background: rgb( 238 51 119 );
  }
}

[data-color="violet"] {
  .area, .dot{
    fill: rgb( 170 68 153 / var(--alpha));
  }
  .series-label, .svg-label{
    fill: rgb( 170 68 153 );  
  }
  .line{
     stroke: rgb( 170 68 153 );
  }
  .tip-label, .key-label, &.plot-tips{
    color: rgb( 170 68 153 );
  }
  .key-color{
     background: rgb( 170 68 153 );
  }
}

[data-color="green"] {
  .area, .dot{
    fill: rgb( 24 119 60 / var(--alpha));
  }
  .series-label, .svg-label{
    fill: rgb( 24 119 60 );  
  }
  .line{
     stroke: rgb( 24 119 60 );
  }
  .tip-label, .key-label, &.plot-tips{
    color: rgb( 24 119 60 );
  }
  .key-color{
     background: rgb( 24 119 60 );
  }
}

[data-color="yellow"] {
  .area, .dot{
    fill: rgb( 255 203 5 / var(--alpha));
  }
  .series-label, .svg-label{
    fill: rgb( 255 203 5 );  
  }
  .line{
     stroke: rgb( 255 203 5 );
  }
  .tip-label, .key-label, &.plot-tips{
    color: rgb( 255 203 5 );
  }
  .key-color{
     background: rgb( 255 203 5 );
  }
}

[data-color="black"] {
  .area, .dot{
    fill: rgb( 0 0 0 / var(--alpha));
  }
  .series-label, .svg-label{
    fill: rgb( 0 0 0 );  
  }
  .line{
     stroke: rgb( 0 0 0 );
  }
  .tip-label, .key-label, &.plot-tips{
    color: rgb( 0 0 0 );
  }
  .key-color{
     background: rgb( 0 0 0 );
  }
}

[data-color="brown"] {
  .area, .dot{
    fill: rgb( 117 69 27 / var(--alpha));
  }
  .series-label, .svg-label{
    fill: rgb( 117 69 27 );  
  }
  .line{
     stroke: rgb( 117 69 27 );
  }
  .tip-label, .key-label, &.plot-tips{
    color: rgb( 117 69 27 );
  }
  .key-color{
     background: rgb( 117 69 27 );
  }
}

[data-color="red"] {
  .area, .dot{
    fill: rgb( 205 53 40 / var(--alpha));
  }
  .series-label, .svg-label{
    fill: rgb( 205 53 40 );  
  }
  .line{
     stroke: rgb( 205 53 40 );
  }
  .tip-label, .key-label, &.plot-tips{
    color: rgb( 205 53 40 );
  }
  .key-color{
     background: rgb( 205 53 40 );
  }
}

[data-color="gold"] {
  .area, .dot{
    fill: rgb( 207 191 112 / var(--alpha));
  }
  .series-label, .svg-label{
    fill: rgb( 207 191 112 );  
  }
  .line{
     stroke: rgb( 207 191 112 );
  }
  .tip-label, .key-label, &.plot-tips{
    color: rgb( 207 191 112 );
  }
  .key-color{
     background: rgb( 207 191 112 );
  }
}

[data-color="blue"] {
  .area, .dot{
    fill: rgb( 1 120 187 / var(--alpha));
  }
  .series-label, .svg-label{
    fill: rgb( 1 120 187 );  
  }
  .line{
     stroke: rgb( 1 120 187 );
  }
  .tip-label, .key-label, &.plot-tips{
    color: rgb( 1 120 187 );
  }
  .key-color{
     background: rgb( 1 120 187 );
  }
}

[data-color="mauve"] {
  .area, .dot{
    fill: rgb( 136 33 86 / var(--alpha));
  }
  .series-label, .svg-label{
    fill: rgb( 136 33 86 );  
  }
  .line{
     stroke: rgb( 136 33 86 );
  }
  .tip-label, .key-label, &.plot-tips{
    color: rgb( 136 33 86 );
  }
  .key-color{
     background: rgb( 136 33 86 );
  }
}

[data-color="other"] {
  .area, .dot{
    fill: rgb( 200 200 200 / var(--alpha));
  }
  .series-label, .svg-label{
    fill: rgb( 200 200 200 );  
  }
  .line{
     stroke: rgb( 200 200 200 );
  }
  .tip-label, .key-label, &.plot-tips{
    color: rgb( 200 200 200 );
  }
  .key-color{
     background: rgb( 200 200 200 );
  }
}
