.figure {
	//figure-container with fig ID
	pointer-events: none;
	position: fixed;
	top: 0;
	width: 50%;
	left: 50vw;
	height: var(--height-figure);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: var(--height-header) 0 var(--pad-body) 0;
	max-width: calc(var(--max-width)/2);

	@include at-media(tablet) {
		pointer-events: auto;
		position: relative;
		left: 0;
		display: block;
		height: auto;
		width: 100%;
		max-width: none;
		padding: 0;
		margin: calc(var(--lineheight)*2) 0;
	}

	figure {
		left: 0;
		opacity: 0;
		transition: opacity 400ms ease-in-out;
		width: 100%;
		padding: 0 var(--pad-section);

		@include at-media(tablet_lg) {
			padding-left: var(--pad-body);
			padding-right: var(--pad-body);
			margin: 0 auto;
		}

		@include at-media(tablet) {
			opacity: 1;
			width: 70%;
		}

		@include at-media(mobile_lg) {
			width: 100%;
		}
	}


	&.image {
		figure {
			display: flex;
			flex-direction: column;
			// align-content: flex-start;
			// flex-wrap: wrap;
		}

		img {
			object-fit: contain;
			object-position: left bottom;
			// height: auto;
			width: auto;
			max-width: 100%;
			max-height: 70vh;
			width: 100%;
			display: block;
		}

		figcaption {
			text-align: left;
			line-height: 1.3; // overwrite plot .figarea line-height
			width: 100%; // for audio (center-aligned)
			letter-spacing: 0.01em;
		}
	}
}



figcaption {
	@extend .sans-serif;
	font-size: var(--caption-size);
	padding: var(--pad-sm) 0;
	line-height: 1.2;
	letter-spacing: 0.01em;

	em {
		@extend .sans-serif;

	}
}

.active-fig {
	z-index: 500;
	pointer-events: auto;

	figure {
		opacity: 1;
	}
}


/*-----------------------------------------*/
/* INDICATORS for active images -----------*/
/*-----------------------------------------*/
.fixed-indicator {
	position: fixed;
	width: calc(var(--width-ind));
	height: 1px;
	background: rgb(125 125 125);
	top: 50vh;
	left: 50vw;
	z-index: 510;
	opacity: 0;

	@include at-media(tablet) {
		left: 0;
		width: var(--width-ind);
		display: none;
	}
}

[data-figstatus="figactive"] .fixed-indicator {
	opacity: 1;
}

[data-figstatus="figactive-full"] .fixed-indicator {
	//fullbleed images and plots
	left: 0;
}

[data-figstatus="figactive-full-visible"] .fixed-indicator {
	//fullbleed images and plots
	left: 0;
	opacity: 1;
}

.figure-indicators {
	position: absolute;
	left: 50vw;
	top: 0;
	width: var(--width-ind);
	height: 100%;
	z-index: 500;

	@include at-media(tablet) {
		display: none;
	}
}

.indicator {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
	border-left: 1px dashed var(--gridline);
	overflow: hidden;

	&.active-figindicator {
		border-left-style: solid;
		// border-color: var(--accent);
	}

	@include at-media(tablet) {
		border-left-color: transparent;
	}
}

/*full-bleed container*/
.fullbleed {
	.figure {
		display: block;
		position: relative;
		left: 0;
		pointer-events: auto;
		padding: 0;
		margin-top: var(--pad-section);
		margin-bottom: var(--pad-section);

		height: auto;
		width: 100%;
		max-width: none;

		// display: flex;
		// align-items: flex-start;

		figure {
			padding: 0;

			// opacity: 1;
			// position: sticky;
			// top: var(--height-header);
			// margin-left: calc( -1*var(--width-ind));
			@include at-media(tablet_lg) {
				padding-left: 0;
			}

			@include at-media(tablet) {
				width: 100%;
			}

			img {
				margin: auto;
				max-height: none;
			}
		}

		figcaption {
			margin: 0 var(--margin);
			width: auto;
			// text-align: center;
		}
	}

	.media-full {
		position: relative;

		figure {
			position: static;
			width: 100%; // keep it for tablet
		}

		.indicator {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			border-color: transparent;
		}
	}

}



/* NAV THUBMANILS -----------------------------------------------*/

nav ul.toc li a.thb {
	display: inline-block;
	padding: 0;
	padding-left: 0;
	border-bottom: 0;
}

.toc-thumbnails {
	display: flex;
	flex-wrap: wrap;

	img {
		height: 70px;
		padding: 0 var(--pad-sm) var(--pad-sm) 0;
	}
}

/* ARTICLES -----------------------------------------------------*/

// image: single 
.figarea {
	scroll-margin-top: 49vh; //anchor offset
	position: relative;

	@include at-media(tablet) {
		scroll-margin-top: 0;
	}
}

.figure {
	@include at-media(tablet) {
		scroll-margin-top: calc(var(--height-header) + var(--pad-body));
	}
}

//image: size parameters 

.image {

	&.sm figure,
	figure.sm {

		//default, crossfade
		img {
			width: 50%;

			@include at-media(tablet) {
				width: 100%;
			}
		}
	}

	&.md figure,
	figure.md {

		//default, crossfade
		img {
			width: 80%;

			@include at-media(tablet) {
				width: 100%;
			}
		}
	}
}

.text-crossfade.reverse {
	order: 2;
}


// image: multi-columns

.col-2 {
	display: flex;

	figure {
		display: inline-block;
		width: 50%;

		&:first-child {
			padding-right: 1rem;
		}

		&:last-child {
			padding-left: 1rem;
		}
	}
}


/* INTERLUDE ----------------------------------------------------*/

body.interlude {
	.figure {
		//overwrite the default size spec
		position: relative;
		left: 0;
		display: block;
		height: auto;
	}

	figure {
		// padding: calc(var(--pad-section) / 4);
		padding: var(--pad-body);
		opacity: 1;

		@include at-media(tablet_lg) {
			padding: var(--pad);
		}
	}

	.cols figure {
		// padding: 0;

		&.lg {
			width: 55%;
		}

		&.md {
			width: 45%;
		}

		&.sm {
			width: 35%;
		}

		&.xs {
			width: 20%;
		}

		@include at-media(tablet_lg) {
			&.md {
				width: 65%;
			}

		}


		@include at-media(mobile_lg) {

			&.lg,
			&.md,
			&.sm,
			&.xs {
				width: 100%;
				margin: 0;
			}


		}
	}

	.single {
		position: absolute;
		top: auto;
		display: inline-block;
		width: 20%;
		padding-top: 0;
		padding-bottom: 0;
		margin: 0 auto;
		

		@include at-media(desktop) {
			width: 30%;
		}

		@include at-media(tablet_lg) {
			width: 23%;
		}


		@include at-media(tablet) {
			width: 45%;
			display: block;
			float: none;
			display: block;
			position: relative;
			padding: var(--pad-section) 0;
		}

		// @include at-media(tablet) {
		// 	padding: var(--lineheight) var(--margin);
		// 	position: static;
		// 	float: left;
		// }

		@include at-media(mobile_lg) {
			width: 60%;
			display: block;
			float: none;
		}

		figcaption {
			text-align: left;
			width: 100%;
		}

		&.true {
			//right-aligned
			float: right;
			position: relative;

			@include at-media(tablet) {
				float: none;
				width: 45%;
			}

			@include at-media(mobile_lg) {
				display: block;
				float: none;
				width: 70%;

			}

		}


		&.lg {
			// center
			display: block;
			position: relative;
			width: 457px;
			padding: var(--pad-section) 0;

			&.true {
				padding-left: 20%;
			}
		}

		&.xl {
			// center, bleed text width
			display: block;
			position: relative;
			width: 75%;
			margin: 0 auto;
			padding: var(--pad-section) 0;

		}

		&.xxl {
			// center, bleed text width
			display: block;
			position: relative;
			width: 95%;
			margin-left: 3.5%;
			padding: var(--pad-section) 0;
		}

		&.md {
			// center, narrower than text width
			display: block;
			position: relative;
			width: 35%;
			padding: var(--pad-section) 0;
		}



		@include at-media(tablet) {

			&.lg,
			&.xl,
			&.xxl,
			&.md {
				display: block;
				float: none;
			}
		}

		@include at-media(mobile_lg) {

			&.lg,
			&.xl,
			&.xxl,
			&.md {
				width: 100%;
				padding: var(--lineheight);
				padding-left: var(--pad-body);
				padding-right: var(--pad-body);
			}

			&.sm,
			&.xs {
				width: 70%;
			}


		}


	}

}


/* IMAGE ANIMATION XFADE / CROSSFADES ---------
--------------------------------------------*/
.crossfade {
	opacity: 0;
	transition: opacity 400ms ease-in-out;
    margin-left: 20px;
	&.active-fig {
		opacity: 1;

		figure {
			opacity: 0;
			transition: none;
			

			&:first-child {
				opacity: 1;
			}


		}
	}

	.xfade-images {
		position: relative;
		width: 100%;
		height: calc(var(--height-figure));

		@include at-media(tablet) {
			width: 80%;
			margin: 0 auto;
		}

		@include at-media(mobile_lg) {
			width: 100%;
		}
	}

	figure {
		top: 0;
		position: absolute;
		height: 100%;
		justify-content: center;
		align-content: center;
		background-color: white;
		width: 100%;


	}

	&.figure.image {
		justify-content: left;

		img {
			max-height: 100vh;
		}
	}

	&.multi_caption figcaption {
		transition: opacity 400ms ease-in-out;
		// opacity: 0;
		min-height: 70px; //set 2 lines in default for a consistent vertical loc across imgs
	}

	.mobile-seqindicator {
		position: relative;
	}

}

//setup figcaption displays separately for crossfades
//so that text doesn’t overlap
@for $i from 0 through 10 {
	.multi_caption[data-active-fade="#{$i}"] [data-xfadeindex="#{$i}"] figcaption {
		opacity: 1;
	}
}


.scroll-overlay {
	scroll-snap-type: y mandatory;
	scroll-snap-align: center;
	position: relative;
	z-index: 600;
	-webkit-transform: translate3d(0, 0, 0); //Fix mobile Safari z-index issue
	pointer-events: none;
	background: transparent;
	min-height: calc(var(--height-figure));
	height: auto;
	margin: 0;
	padding-bottom: var(--height-figure);


	>p,
	>ul,
	>ol,
	>blockquote {
		margin: 0;
		width: 100%;
		pointer-events: auto;
		display: block;
		background: white;
		border-bottom: 1px solid var(--darkgrey);
		border-right: 0;
		border-left: 0;
		padding: var(--pad-body);
	}

	>ul:first-child,
	>ol:first-child,
	>blockquote:first-child,
	>p:first-child {
		border-top: 1px solid var(--darkgrey);
	}

	ol p,
	ul p,
	blockquote p {
		width: auto;
		background: inherit;
	}

	blockquote p {
		margin-left: 0;
	}
}

.xfade-wrapper {
	@include at-media(tablet) {
		padding-top: 0;
		height: auto; //expand to length with mobile indicators

		.figure {
			opacity: 1;
			position: sticky;
			// top: calc(var(--height-figure)*.2);
			top: var(--height-header);
		}

		.figure+.text-img {
			position: relative;
			z-index: 700;

			>p,
			>ol,
			>blockquote {
				display: none;
			}
		}
	}
}

.spanindicator {
	flex: 1;
	// border: 3px solid green;
}

.xfadeindicator {
	background: transparent;
	border-bottom: 1px solid var(--grey);
	width: 10px;

	&:last-child {
		border-bottom: 0;
	}

	@include at-media(tablet) {
		display: none;
		// visibility: hidden;
		//show mobile indicators instead
	}
}

.map-full-wrapper .xfadeindicator {
	@include at-media(tablet) {
		display: block;
		//show mobile indicators instead
	}
}


// .indicator{
// 	border: 3px solid orange;
// }

/*----------------
FIGURES-specific OVERRIDES
-----------------*/

//darkmode transition chapters
#preface,
#anonymous-identity,
#ignition,
#terra-incognita {
	--darkmodecolor: 255;
	background-color: rgb(var(--darkmodecolor), var(--darkmodecolor), var(--darkmodecolor));
	transition: background-color 700ms ease-in-out;

	nav {
		transition: border-color 1s ease-in-out;

		.navlink {
			background-color: rgb(var(--darkmodecolor), var(--darkmodecolor), var(--darkmodecolor));
		}
	}

	p {
		transition: color 700ms ease-in-out;
	}
}


//already visible figure openers
#bildlilli-indicator,
#dickjane-indicator,
#atomfriend-indicator {
	margin-top: calc(-1 * (var(--height-header) + 1px));
}

.bildlilli-text>blockquote:first-child {
	margin-top: 0;
}

#anonymous-identity {
	section.content {
		padding-bottom: 10vh;
	}
}

//introduction, anonymous identity
#overviewfx-indicator {
	border-color: transparent;
}

#overviewfx-fig {
	margin-bottom: 0;
}


#ears-indicator {
	//make seamless transition with previous
	margin-top: calc(-1 * var(--lineheight));
}

#beebo-fig.image img {
	//long image ratio with a long caption
	max-height: 72vh;
}

#dragons,
#notke {
	margin-top: calc(-1*var(--pad-section));
	display: flex;
	flex-direction: column-reverse;

	.figure.media-full {
		height: auto;
		margin-top: 0;
	}

}

#dragons {
	.figure {
		padding-top: 0;
	}
}

.dragons-text p {
	text-indent: 0;
}

#savage_lovecast_526 .text-img p:first-child {
	text-indent: 0;
}

#packard-fig figure {
	padding: var(--pad-section);
}

#binning {
	.crossfade figure {
		background-color: none;
	}

	figure {
		background-image: url('/assets/images/appendix/binning-frame.png');
		background-size: calc(100% - 2*var(--pad-section));
		background-repeat: no-repeat;
		background-position: 50% 42%;

		@include at-media(tablet_lg) {
			background-size: calc(100% - 2*var(--margin));
		}
	}

	figure[data-xfadeindex="1"] img {
		// padding: 90px 0 0 0;
		mix-blend-mode: multiply;
	}

	figcaption {
		top: 10px;
		position: relative;
	}

}


@include at-media(tablet) {

	#quigley-fig {
		position: sticky;
		top: 0;

		figure {
			height: var(--height-figure);
		}

		&+.text-img {
			min-height: calc(var(--height-figure)*6);
		}
	}

	#quigley-indicator {
		height: calc(var(--height-figure)*7);
	}
}

.quigley-labels {
	@extend .sans-serif;
	margin: auto;
	font-weight: 700;
	display: flex;
	padding-bottom: var(--pad);
}

.quigley-axislabel {
	font-weight: 400;
	margin: 0 10px;
	opacity: 0.6;
}

.quigley-framelabel {
	margin: 0 5px;
	opacity: 0.2;
	transition: opacity 400ms linear;
}

.visibleframe {
	opacity: 1;
}


#reimerselfportrait {
	width: 20%;

	@include at-media(mobile_lg) {
		width: 50%;
	}


	&+blockquote {
		padding-top: 0;
	}
}

#moneycover {
	padding-top: 0;
}

#a-view-from-above {

	/* ending after full-bleed image*/
	article {
		padding-bottom: 0;
	}

	section.content {
		padding-bottom: 10vh;
	}
}

#chimeras {
	@include at-media(tablet) {
		.xfade-images {
			width: 60%;
			margin: 0 auto;
		}
	}

	@include at-media(mobile) {
		.xfade-images {
			width: 100%;
		}
	}
}

#patriarchypyramid {
	@include at-media(tablet) {
		width: 50%;
	}

	@include at-media(mobile_lg) {
		width: 60%;
	}
}

#sextable {
	width: 50%;

	@include at-media(mobile_lg) {
		width: 100%;
	}
}

#lightsout {

	.img-container {
		height: 50vw; //full-bleed image bg, the image ratio is 2:1
		background-size: 100%;

		@include at-media(mobile_lg) {
			height: 65vw;
			background-size: 130%;
			background-position: -15vw 0;
			background-repeat: no-repeat;
		}
	}



}