/* AUDIO ----------------------------------------------------*/
.audio {
	figure {
		display: flex;
		justify-content: center;
	}

	&.figure.image img {
		width: 50%;
		padding: var(--pad) 0;
		margin: auto;
	}

	audio {
		width: 100%;
		margin: 0 auto;
		@extend .sans-serif;
	}
}

