/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Use and Imports
# Element Defaults
	## Typography
	## STRUCTURES & LAYOUTS 
		### Navigation 
		### Part Intros
		### Chapters
		### Interlude
	## REFERENCE & FOOTNOTE STYLES 
	## FIGURE STYLE
	## MOTION STYLES 
	## SPLOT STYLES 
# SECTION AGNOSTIC OVERRIDES
  ## Structure
  ## Elements
# SECTION SPECIFIC OVERRIDES
  ## Structure
  ## Elements
# RESPONSIVE LAUOUT
--------------------------------------------------------------*/


/*
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Use and Imports
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%  
*/

@use 'fonts';

@import 'thumbnails';
@import 'colors';
@import 'responsive-settings';
@import 'variables';
@import 'figures';
@import 'motions';
@import 'plot-styles';
@import 'maps';
@import 'players';

/*
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Element Defaults
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%  
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: var(--base-size);
}

body {
	width: 100%;
	@extend .serif;
	font-size: var(--base-size);
	--bgalpha: 0;
	background-color: rgba(5, 5, 15, var(--bgalpha));
	color: var(--color-default);
}

/*--------------------------------------------------------------*/
/* TYPOGRAPHY --------------------------------------------------*/
/*--------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
	
	font-weight: var(--wght-bold);
	margin-bottom: var(--pad);
	line-height: .9;

	em {
		font-weight: var(--wght-bold);
	}
}

h1 {
	font-size: var(--heading-size);
}

h2 {
	font-size: var(--heading-size);
}

p,
.content>ol li,
.content>ul li {
	@extend .serif;
	line-height: var(--lineheight);

	strong {
		
		font-weight: var(--wght-semibold);
		letter-spacing: 0.01em;
		padding-right: 2px;

		em {
			
			font-style: italic;
		}
	}

	@include at-media(tablet) {
		letter-spacing: 0.01em;
	}
}

em {
	@extend .serif;
	font-style: italic;
	font-variation-settings: "EXPO" -10;
}

a {
	cursor: pointer;
	color: var(--color-default);
	text-decoration: none;
	// text-underline-offset: 2px;
	// text-decoration-thickness: 1.3px;
	&:hover {
		color: var(--accent);
	}
}

li {
	list-style-type: none;
}

ol {
	li {
		list-style-type: decimal;
	}
}

hr {
	border: 0;
	background: 0;
	margin: var(--pad-section) 0;
}

button {
	
	background: transparent;
	border: 0;
	cursor: pointer;
}

.button {
	
	font-size: var(--large-size);
	border-width: 1px;
	border-style: outset;
	border-color: var(--color-default);
	border-image: none;
	background-color: transparent;
	border-radius: 20px;
	padding: 8px 12px 17px 12px;
	cursor: pointer;
	margin: calc(var(--pad-body)/2) 0;

	&:hover {
		background-color: var(--color-default);
		color: var(--bluegrey);
	}

	&.small {
		font-size: calc(var(--medium-size) / 1.5);
		padding: 6px 15px 8px;
		margin-right: 5px;
		
		font-weight: 900;
		cursor: pointer;
		border: solid 1px;
	}
}

img {
	display: block;
	width: 100%;
}

video {
	width: 100%;
}
/*--------------------------------------------------------------*/
/* MAIN STRUCTURES & LAYOUTS ----------------------------------------*/
/*--------------------------------------------------------------*/

.mainwidth {
	max-width: var(--max-width);
	margin: auto;
	width: var(--main-width);
}

main {
	margin-top: 0;
}

footer {
	font-size: var(--caption-size);
}

footer,
section {
	padding: var(--pad-section) 0;
}

section.content {
	padding-top: var(--pad-body);
	padding-bottom: 50vh;
	position: relative;

	@include at-media(tablet) {
		padding-bottom: var(--pad-section);
	}
}

table {
	
	font-size: var(--caption-size);
	margin: var(--lineheight) 0;
	width: var(--width-text);
	margin-left: var(--margin);
	border-collapse: collapse;

	td,
	th {
		// font-weight: var(--wght);
		padding: var(--pad-xs);
		text-align: left;
		border-bottom: 1px solid var(--grey);
		font-feature-settings: "tnum" on;
	}

	td {
		border-top: 1px solid var(--grey);
		vertical-align: text-top;
	}

	tr:last-child td {
		border-bottom: 1px solid var(--grey);
	}

	th,
	strong {
		font-weight: 500;
	}

	th:first-child,
	td:first-child {
		padding-left: 0;

	}

	th:first-child {
		font-weight: var(--wght-medium);

	}
}


/* NAV ---------------------------------------------------------*/
nav {
	
		position: absolute;
		width: 100%;
		display: none;

	.navlink {
		
		position: fixed;
		z-index: 1000;
		width: 100%;
		top: auto;
		left:0;
		bottom: 0;
		display: flex;
		transition: transform 0.2s ease-in-out;
		transform: translateY(0%);
		padding: var(--pad-sm) var(--pad-body);
		background-color: var(--white);
		border-top: solid 1px;
		height: var(--height-header);
	}

	.icon,
	.current-page,
	.info {
		font-size: calc(var(--medium-size) / 1.5);
		
		font-weight: 900;
		cursor: pointer;

		a {
			color: var(--color-default);
			text-decoration: none;
		}
	}



	.current-page {
		width: 90%;
	}

	.nav-home {
		text-transform: capitalize;
		min-width: 180px;

		@include at-media(tablet) {
			min-width: 0;

			&:before {
				content: "?"; //simplified home button
			}

			.nav-sitetitle {
				display: none;
			}
		}
	}

	.nav-title {
		display: flex;
		flex-direction: row;
		align-items: baseline;
		width: 100%;
		cursor: pointer;

		svg {
			position: relative;
			top: 2px;
			left: 5px;
			width: 15px;
			height: auto;
			transform: rotate(0deg);

			path {
				fill: var(--color-default);
			}
		}

		&.arrow-up {
			svg {
				transform: rotate(180deg);
			}
		}

		&:hover {
			svg path {
				fill: var(--accent);
			}
		}

		@include at-media(mobile_lg) {
			.marker {
				display: none;
			}
		}
	}

	.marker {
		font-weight: var(--wght);
		font-feature-settings: "tnum" on;
		padding-right: 10px;
	}

	.preface .marker {
		padding: 0px;
	}


	.info {
		//about button
		position: fixed;
		height: var(--height-header);
		display: flex;
		justify-items: center;
		top: 0;
		right: 0;
		z-index: 1500;
		padding: var(--pad-sm) var(--pad-body);
		display: flex;
		justify-content: center;
		
		cursor: pointer;

		.open,
		.close {
			display: flex;
			align-content: center;
			flex-wrap: wrap;
		}

		.close {
			display: none;
			font-size: var(--medium-size);
			line-height: 1.2;
			color: var(--darkgrey);
			font-weight: var(--wght-medium);

			@include at-media(mobile_lg) {
				line-height: 0.8;
			}

		}


		.open {
			font-size: var(--small-size);
		}
	}

	.info.opened {
		.close {
			display: block;
		}

		.open {
			display: none;
		}
	}

	.nav-home,
	.nav-title,
	.info {
		transition: color ease-in .1s;

		&:hover {
			color: var(--accent);
		}
	}


	//currently displayed page indicator
	.current-page {
		display: flex;
		align-items: center;

		.nav-home {
			cursor: pointer;
			margin-right: var(--pad);

			&:hover {
				color: var(--accent);
			}
		}

		.nav-title {
			display: flex;
		}
	}

	&.menu-on {
		.current-page {
			.nav-title {
				color: var(--accent);

				svg path {
					fill: var(--accent);
				}
			}
		}
	}

}

//close NAV

/* nav on toggle -------------------------------------*/
.icon_close {
	display: none;
}

#toc-introduction .marker {
	display: block;
}

body.noscroll {
	overflow-y: hidden;
}

/* summary popup ------------------------------------*/

#summary-popup {
	transform: translateX(100%);
	transition: transform ease-in-out .2s;
	position: fixed;
	top: 0;
	right: 0;
	width: 50vw;
	height: 100vh;
	border-left: 1px var(--color-default) solid;
	padding: var(--pad-body) var(--pad-section);
	padding-right: var(--margin);
	z-index: 1300;
	background-color: var(--white);
	color: var(--darkgrey);

	overflow-y: scroll;

	@include at-media(tablet) {
		width: 85%;
		padding-left: var(--margin);
		padding-bottom: var(--pad-section);
	}

	@include at-media(mobile_lg) {
		width: 100%;
		border-left: 0;
	}

	&.visible {
		transform: translateX(0%);

		.close {
			display: block;
		}

		.open {
			display: none;
		}
	}

	a {
		color: var(--accent);

		&:hover {
			color: var(--color-default);
		}
	}

	h1,
	h2,
	h3,
	h4 {
		font-weight: var(--wght);
		line-height: 1.2;
		font-size: var(--medium-size);
		margin: 0;
	}

	h3+p {
		margin-top: var(--pad-section);
		border-top: solid 1px;
		padding-bottom: calc(var(--lineheight) * 2);
		padding-top: calc(var(--lineheight)*0.5);
	}

	.summary-columns {
		display: flex;
		border-top: solid 1px;
		border-bottom: solid 1px;
		padding-top: calc(var(--lineheight)*0.5);
		padding-bottom: calc(var(--lineheight)*2);
		margin-bottom: calc(var(--lineheight)*0.5);

		.col:last-child {
			margin-left: var(--pad-body);

			p {
				max-width: 16em;
				
				margin-top: -0.2em;
				line-height: 1.3;

			}

		}
	}

	a.btn {
		
		line-height: 1.2;
		display: block;
		width: 10em;
		color: var(--accent);
		text-decoration: none;
		border: solid 1px var(--accent);
		padding: 8px 24px;
		text-align: center;
		border-radius: 32px;
		margin-top: 10px;
		transition: all ease-in 0.2s;

		&:hover {
			background-color: var(--accent);
			color: var(--white);
		}
	}

	img {
		max-width: 400px;
	}

	hr {
		margin: var(--pad) 0;
	}

	p {
		text-indent: 0; //overwriting styles with #bibliography, #data-sources,#image-credits to default styles
		padding-left: 0;
		margin-left: 0;
		padding-right: 0;
		text-wrap: pretty; // to keep each footnote in the same line; partially supported. JS as backup
		width: auto;

		@include at-media(desktop_lg) {
			width: 100%;
		}
	}

	p+p {
		text-indent: var(--indent);
	}

	h2 {
		margin-top: var(--pad-section);
		border-top: solid 1px;
		padding-top: calc(var(--lineheight)*0.25);
	}


	hr+blockquote {
		padding-top: 0;
		border-top: solid 1px;
		padding-top: calc(var(--lineheight)*0.5);
	}

	blockquote {
		padding: var(--pad-sm) 0;
		margin: 0;
		width: auto;

		p {
			display: inline;
			
			font-weight: var(--wght);
			text-indent: -6px;
			line-height: 1.4;
			padding-left: 0;
			margin-left: -6px;
		}

	}

	.social-links {
		display: flex;
		
		font-weight: var(--wght);
		letter-spacing: 0.01em;
		margin-bottom: var(--pad);
		.social-icon{
			margin-right: 1em;
		}
		a{
			text-decoration: none;
			color: var(--color-default);
			&:hover{
				color: var(--accent);
			}
		}
		img{
			display: inline;
			width: 25px;
			height: auto;
			position: relative;
			top: 8px;
		}
	}

	@include at-media(tablet_lg){
		.icon-description{
			display: none;
		}
		.social-icon{
			img{
				width: 40px;
			}
		}
	}

}



/* ARTICLE TYPOGRAPHY --------------------------------*/
/* DEFAULT CHAPTER CONTENT */

article {
	h1, h2{
		padding: 0 var(--pad-body);
		font-size: var(--large-size);
		line-height: var(--lineheight);
		display: inline-block;
    	float: left;
	}


	p{
		text-indent: var(--indent);
		margin-left: 50%;
		width: var(--width-text);
		padding-left: var(--pad-body);
		font-weight: 200;
	}

	sub {
		vertical-align: baseline;
		font-size: inherit;
		font-feature-settings: "sinf" 1;
	}

	//cancel text-indent on the first-paragraph 

	h1 + p,
	h2 + p,
	h1+p,
	h2+p,
	h4+p,
	hr+p,
	.chapter-opener + .figarea > .text-img,
	.figarea.fullbleed + p,
	// &>p:first-child,
	// hr+.figarea>.text-img:first-child>p:first-child,
	// hr+.figarea>.text-plot:first-child>p:first-child,
	// section.content>p:first-child,
	// section.content>.figarea:first-child>.text-img:first-child>p:first-child,
	// blockquote+p,
	// blockquote+.figarea>div:nth-of-type(3)>p:first-of-type,
	// .questions+p,
	hr+figure+p {
		text-indent: 0;
	}

	li {
		padding-bottom: var(--lineheight);
		line-height: var(--lineheight);
		
		&:last-child {
			padding-bottom: 0;
		}

		&::before {
		
			position: absolute;
			line-height: var(--lineheight);
			margin-left: -30px;
		}

		p {
			text-indent: 0;
			margin-left: var(--indent);
		}
	}

	ul,
	ol {
		margin-top: var(--lineheight);
		// margin-left: var(--margin);
		margin-left: 50%;
		margin-bottom: var(--lineheight);
		width: var(--width-text);
		padding-left: var(--pad-body);
		p {
			width: calc(var(--width-text) - var(--indent));
		}
	}

	ol {
		li {
			list-style-type: none;
			counter-increment: customlistcounter;
		}

		li::before {
			content: counter(customlistcounter) " ";
		}
	}


	ul {
		li {
			position: relative;
			// list-style-type: upper-alpha;
			counter-increment: list-number;

			&::before {
				content: counter(list-number, upper-alpha) '';
			}
		}
	}


	blockquote {
		margin-left: var(--margin);
		margin-top: var(--lineheight);
		margin-bottom: var(--lineheight);
		width: var(--width-text);

		// padding: var(--pad) var(--pad-section) var(--pad) 0;

		p {
			@extend .serif;
			font-weight: var(--wght-semibold);
			margin-left: 0;
			padding-left: var(--indent);
			width: 100%;
		}

		p:first-child {
			text-indent: 0;
		}

		&+blockquote,
		h4+& {
			//one after another one
			padding-top: 0;
		}

		&+h4 {
			/*citation*/
			@extend .serif;
			font-weight: var(--wght);
			margin-left: var(--margin);
			padding-left: var(--indent);
			margin-top: calc(-1* var(--lineheight));
			line-height: var(--lineheight);

			em {
				@extend .serif;
				font-weight: var(--wght);
			}
		}

		@include at-media(tablet) {
			margin-right: 0;
		}
	}



	.questions {
		margin-top: var(--lineheight);
		margin-bottom: var(--lineheight);
		margin-left: var(--margin);

		p {
			// max-width: calc(var(--max-width-text) - var(--indent));
			margin: 0;
			// padding-left: var(--indent);
			letter-spacing: 0.01rem;
			// text-indent: -1.2rem;
			// padding-left: 1.2rem;
			line-height: var(--lineheight);
		}

		ol {
			margin-left: var(--indent);

			li {
				list-style-type: none;
				padding-bottom: calc(var(--pad-xs)*0.5);

				&::before {
					content: none;
				}
			}
		}
	}
}


#allplots {
	.col:first-child {
		flex: none;
	}

	.col.image {
		width: 100%;
	}
}





/*  SECTION  OPENERS --------------------------------------------------*/

.chapter-opener { 
	background-color: var(--color-default);
	color: var(--brown-light);
	padding: var(--pad-body);
	margin:  calc(var(--pad-body)*1.5) 0;
	
	h2 + p {
		font-size: var(--large-size);
		line-height: 1.3;
		// padding-bottom: var(--pad-body);
		padding-bottom: calc(var(--pad-body)*5);
		& + p {
			text-indent: 0;
		}
	}
}








/*--------------------------------------------------------------*/
/* REFERENCE & FOOTNOTE STYLES ---------------------------------*/
/*--------------------------------------------------------------*/

.reference {
	position: relative;
	display: inline-block;
	cursor: pointer;
	text-indent: 0;
	margin: 0 3px 0 2px;
	scroll-margin-top: 49vh;

	&:hover {
		color: var(--accent);
	}

	.footnote-ref {
		
		font-weight: var(--wght-semibold);
		font-size: var(--caption-size);
		font-style: normal;
		position: relative;
		// top: 2px;
		line-height: 0;
		// border-bottom: 2px solid;
		// padding-bottom: 1px;
		color: var(--accent);
	}
}


.footnote-text {
	//footnote popup text
	letter-spacing: 0.04em;
	line-height: 1.3;
	position: absolute;
	top: 50%;
	left: 50%;

	z-index: 700;
	max-width: 320px;
	font-size: var(--caption-size);
	background: var(--brown-light);
	border: 0px solid var(--color-default);
	color: var(--color-default);
	padding: var(--pad-sm) calc(var(--pad-sm)*1) calc(var(--pad-sm)*1.2) calc(var(--pad-sm)*1.2);
	transition: opacity 0s ease-in .2s, opacity 300ms;
	visibility: hidden;
	opacity: 0;
	border-radius: var(--smradius);

	b,
	strong {
		font-variation-settings: "EXPO" -10;
	}

	em {
		font-style: italic;

	}

	&.visible {
		visibility: visible;
		opacity: 1;

	}
}

.footnote-number {
	//reference number in popup
	font-weight: var(--wght-semibold);
	padding-right: 1.5em;
}

.caption {
	font-size: var(--caption-size);
	letter-spacing: 0.03em;
	text-indent: 0;
}

.footnotes-list {
	footer {
		column-count: 2;
		column-gap: calc(2 * var(--pad));
		@extend .caption;
	}

	li {
		.footnote-no {
			display: inline-block;
			width: var(--indent);
			text-align: right;
			padding-right: 1em;
		}
	}
}

.footnotes-sep,
section.footnotes {
	display: none;
}


/*
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
SECTION SPECIFIC OVERIDES
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%  
*/



.title {
	color: var(--brown-light);
	padding: var(--pad-body);
	position: relative;
	margin-left: 50%;
	display: block;
	z-index: 10;
	mix-blend-mode: difference;

	@include at-media(tablet_lg) {
		padding: calc(var(--pad-body)*0.5) var(--pad-body);
	}

	@include at-media(mobile_lg) {
		padding: var(--pad-body);
	}


	h1 {
		font-size: 10.5rem;
		line-height: 0.8;
		font-weight: var(--wght-ultra);
		@include at-media(tablet) {
			font-size: var(--xlarge-size);
		}
	}

	h3 {
		
		font-weight: var(--wght-semibold);
		font-size: var(--medium-size);
		margin-bottom: var(--pad);
		// padding-left: calc(var(--pad-section)*0.8);
		@include at-media(tablet) {
			font-size: var(--medium-size);
		}

		@include at-media(mobile_lg) {
			font-size: var(--base-size);
		}
	}
}

.home-cover {
	width: 100%;
	height: var(--height-cover);
	overflow: hidden;
	position: relative;
	background-color: var(--brown-light);
	#c {
		mix-blend-mode: darken;
	}
}




/* OTHERS layouts  --------------------------------------------------*/

#acknowledgments,
#about-the-author,
#image-credits,
#note-one-the-artwork,
#note-on-the-type,
#bibliography {
	margin-top: calc(var(--pad-section)*2);
}

#bibliography, 
#image-credits {
	h1 {
		margin-bottom: var(--pad-section);
	}
}
#bibliography {	
	p {
		margin-left: 0;
		width: 100%;
		column-count: 3;
		column-gap: 60px;
		padding-right: var(--margin);
		padding-bottom: var(--pad-body);
		@include at-media(tablet) {
			column-count: 1;
		}
	}
	a {
		word-break: break-all; //long urls
		text-indent: var(--indent);
		display: block;
		&:first-child {
			text-indent: 0;
		}
	}
}
#image-credits {
	.wrapper {
		width: 100%;
		column-count: 3;
		column-gap: 60px;
		padding-right: var(--margin);
		padding-bottom: var(--pad-body);
		@include at-media(tablet) {
			column-count: 1;
		}
	}
	p {
		width: 100%;
		margin-left: 0;
		text-indent: 0;
		margin-bottom: var(--pad);
	}
}

#page-not-found {
	color: var(--darkgrey);
	background-size: auto calc(100vh - var(--height-header));
	background-position: 95% bottom;


	@include at-media(tablet_lg) {
		background-size: 70%;
		background-position: center 60%;
	}

	@include at-media(mobile_lg) {
		background-size: 90%;
		background-position: center 60%;
	}

	@include at-media(mobile) {
		background-size: 90%;
		background-position: center 70%;
	}

	nav .current-page a {
		color: var(--darkgrey);
	}

	nav .current-page .nav-title,
	nav .info {
		display: none;
	}

	nav .navlink {
		border-color: var(--darkgrey);
	}

	.part-header-content {
		width: 100%;

		@include at-media(mobile_lg) {
			padding-top: var(--pad);
		}

	}

	.part-cover {
		@include at-media(tablet) {
			padding: 0;
		}

		h1 {
			@include at-media(tablet) {
				font-size: var(--heading-size);
			}
		}
	}
}





// Z-INDEX REFERENCE
//1500 — top right .info button
//1300 — about popup 
//1000 — .navlink
//900 — toc
//-1 — section divider layout background
//700 — footnote popup//higher than figures and .fixed-indicator (510)
//600 — scroll overlay
//600 — next-chapter
//500 — active fig
//500 — active indicators
//510 — fixed indicator

//10 — home title
//0 — home background
//10 — home image
//20 — home image 5th child
//30 — xfade indicator
//0 — regular (non-active) figure